<template>
    <div>
        <h4 class="title">SPA приложение</h4>
        <app-table/>
    </div>
</template>

<script>
    import AppTable from "@/components/table"
    export default {
        components: {
            AppTable
        },
    }
</script>

<style lang="scss" scoped>
    .title {
        width: 100%;
        font-weight: 500;
        font-size: 18px;
        text-align: center;
        padding: 15px 0 ;
    }
</style>