<template>
    <div class="header">
        <div class="header__nav">
            <a href="//docs.coincap.io" target="_blank" class="link">CoinCap API  </a>
        </div>
        <img class="header__logo" src="@/assets/logo.svg" alt="">
        <div class="header__language">
            RU
            <input  type="text" 
                    :class="activeSearch?'active':'hidden'" 
                    ref="inputSearch"
                    @blur="activeSearch =! activeSearch"
                >
            <img class="magnifier"  src="@/assets/111.svg" alt="" @click="openInputSearch">
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                activeSearch: false
            }
        },
        methods:{
            openInputSearch(){
                this.activeSearch=!this.activeSearch;
                this.$refs.inputSearch.focus()
            }
            
        }
    }
</script>

<style lang="scss" scoped>
    .header {
        background-color: #cdcdcd;
        display: flex;
        padding: 10px;
        justify-content: space-between;
        &__nav {
            display: flex;
            align-items: center;
        }
        &__logo {
            width: 130px;
        }
        &__language {
            display: flex;
            align-items: center;
            img {
                width: 25px;
                position: absolute;
                right: 25px;
                top: 23px;
                cursor: pointer;
            }
            input {
                margin: 0 10px;
                border: 1px solid #333;
                border-radius: 5px;
                padding: 7px 15px;
                transition: all .5s linear;
                width: 0;
                opacity: 0;
            }
            .active {
                width: 150px;
                opacity: 1
            }
            .hidden{
                width: 0px;
                opacity: 0
            }
        }
    }
    .link {
        display: block;
        color: #343434;
        text-decoration: none;
        position: relative;
        &:before {
            content: '';
            width: 0;
            transition: width .2s linear;
            background-color:blue;
            height: 3px;
            bottom: -5px;
            left: 0;
            position: absolute
        }
        &:hover:before {
            width: 100%;
        }
                
    }
</style>