<template>
    <div class="container">
        <div class="containerScroll"
            :class="activeTable?'scrollActive':''" 
            @mouseover="activeTable = true"
            @mouseleave="activeTable = false"
            >
            <div class="table">
                <div class="table__title-row">
                    <div class="table__title-col">
                        Рейтинг
                    </div>
                    <div class="table__title-col">
                        Имя
                    </div>
                    <div class="table__title-col">
                        Стоимость
                    </div>
                    <div class="table__title-col">
                        Рыночная капитализация
                    </div>
                    <div class="table__title-col">
                        VWAP
                    </div>
                    <div class="table__title-col">
                        Доступные ресурсы
                    </div>
                    <div class="table__title-col">
                        Volume
                    </div>
                    <div class="table__title-col">
                        Change
                    </div>
                </div>
                <div class="table__row" v-for="item in objectServer" :key="item.id">
                    <div class="table__col">
                        {{item.rank}}
                    </div>
                    <div class="table__col">
                        {{item.name}}
                    </div>
                    <div class="table__col" v-html="fixedValue(item.priceUsd,2,'$')">

                    </div>
                    <div class="table__col" v-html="fixedValue(item.marketCapUsd,2,'$')">

                    </div>
                    <div class="table__col" v-html="fixedValue(item.vwap24Hr,2,'$')">
                        
                    </div>
                    <div class="table__col" v-html="fixedValue(item.supply,2,'')">
                    
                    </div>
                    <div class="table__col" v-html="fixedValue(item.volumeUsd24Hr,2,'$')">
                        
                    </div>
                    <div class="table__col" v-html="fixedValue(item.changePercent24Hr,3,'%')">

                    </div>
                </div>
                
            </div>
        </div>
        <button class="button-load" @click="loadNext">Загрузить ещё</button>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                objectServer: {},
                ws: '',
                offset: 0,
                limit: 10,
                activeTable: false
            }
        },
        methods: {
            loadNext(){
                this.offset+=10;
                this.ws.close();
                this.createdLoad()
                    .then(()=>{
                        this.openWebSocket()
                    })
            },
            fixedValue(value,fixed,symbol){
                let valueNumber = Number(value);
                
                let fix = 
                    valueNumber >= 1.0e+9
                    ? (valueNumber / 1.0e+9).toFixed(fixed) + "B"
                
                    : valueNumber >= 1.0e+6
                    ? (valueNumber / 1.0e+6).toFixed(fixed) + "M"
                
                    : valueNumber >= 1.0e+3
                    ? (valueNumber / 1.0e+3).toFixed(fixed) + "K"
                    
                    : valueNumber.toFixed(fixed)
                
                if(symbol === '$') return '$' + fix
                if(symbol === '%') return fix + '%' 
                return fix
            },
            async createdLoad(){
                try{
                    let response =  await this.$http.get('https://api.coincap.io/v2/assets?limit='+this.limit+'&offset='+this.offset)
                    response.data.data.forEach(element => {
                        this.$set(this.objectServer, element.id, element)
                    });
                } catch(error) {
                    alert("Ошибка - " + error)
                }
                
            },

            findObj(msg){
                for( let key in msg){
                    this.objectServer[key].priceUsd = msg[key]
                }
            },
            openWebSocket(){
                let idPrice = ''
                for( let key in this.objectServer){
                    idPrice = idPrice + key +','
                }
                this.ws = new WebSocket('wss://ws.coincap.io/prices?assets='+idPrice);

                // this.ws.onopen = () => {
                //     //console.log('WS подключенно')
                // };
                // this.ws.onclose = (eventclose) => {
                //     //console.log('соеденение закрыто причина: ' + eventclose)
                // }
                this.ws.onmessage = (msg) => {
                    this.findObj(JSON.parse(msg.data));
                }
            } 
        },
        created(){
            this.createdLoad()
                .then(()=>{
                    this.openWebSocket()
                })
           
           
            
        }
    }
</script>

<style lang="scss" scoped>
    @mixin r($width) {
        @media only screen and (max-width: $width+ "px") {
            @content
        }
            
    };
    @mixin rh($height) {
        @media only screen and (max-height: $height + "px"){
            @content
        }  
    }
    .container {
        padding: 30px 0;
        text-align: center;
    }

    .containerScroll {
        max-height: 500px;
        overflow-x: hidden;
        overflow-y: hidden;
        @include rh(750){
            max-height: 400px;
        }
        @include rh(650){
            max-height: 300px;
        }
    }
    .scrollActive{
        overflow-y: scroll;
        width: 100%;
    }
    .table {
        width: 100%;
        display: grid;
        grid-template-columns: 100vw;
        text-align: left;
        &__row,&__title-row{
            display: grid;
            grid-template-columns: .4fr repeat(7, 1fr);
            padding: 15px 10px;
            border-bottom: 1px solid #acacac ;
            @include r(1400){
                grid-template-columns: .3fr repeat(3, 1fr);
            }
            @include r(800){
                grid-template-columns: 1fr 1fr;
            }
        }
        &__row:nth-of-type(2n){
            background-color: #efefef;
        }
            
        &__title-row{
            position: sticky;
            top: 0;
            background-color: #fff;
            font-weight: 500;
        }
    }
    $itemDisplayNone1400: 4,5,6,7;
    @each $item in $itemDisplayNone1400 {
        .table__col:nth-of-type(#{$item}),.table__title-col:nth-of-type(#{$item}){
            @include r(1400){
                display: none;
            }
        }
    }
    $itemDisplayNone800: 1,8;
    @each $item in $itemDisplayNone800 {
        .table__col:nth-of-type(#{$item}),.table__title-col:nth-of-type(#{$item}){
            @include r(800){
                display: none;
            }
        }
    }
    .button-load {
        margin: 20px 0;
        padding: 7px 15px;
        background-color: rgb(24, 198, 131);
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 15px -3px;
        font-size: 18px;
        border: none;
        color: #fff;
        transition: transform .2s linear;
        border-radius: 10px;
        &:hover {
            transform: translate(0,-2px);
        }
        
    }
    .containerScroll::-webkit-scrollbar {
        width: 12px;
        
    }
    
    .containerScroll::-webkit-scrollbar-track {
        margin-top: 45px;
        box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    }
    
    .containerScroll::-webkit-scrollbar-thumb {
        background-color: darkgrey;
        outline: 1px solid slategrey;
    }
</style>