<template>
    <div id="App">
        <app-header/>
        <router-view/>
    </div>
</template>

<script>
import AppHeader from '@/components/header'
    export default {
        components: {
            AppHeader
        }
    }
</script>

<style lang="scss">
    @import "./styleSupport/resetCss";
    
</style>